Data might be imbalanced bcoz target data is biased towards a perticular result

for that we have some techs
1) Upsampling
2) Downsampling

In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)

n_samples = 1000
class_0_ratio  = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [34]:
class_0 = pd.DataFrame({
    "f1" : np.random.normal(loc=0,scale=1,size=n_class_0),
    "f2" : np.random.normal(loc=0,scale=1,size=n_class_0),
    "target":[0]*n_class_0
})
class_1 = pd.DataFrame({
    "f1" : np.random.normal(loc=2,scale=1,size=n_class_1),
    "f2" : np.random.normal(loc=2,scale=1,size=n_class_1),
    "target":[1]*n_class_1
})

In [35]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [36]:
df.head()

         f1        f2  target
0 -0.471276  0.328462       0
1  1.084072  1.038230       0
2 -0.379223  1.147064       0
3 -0.362274  0.638254       0
4 -0.681071 -1.075766       0

In [37]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [20]:
## UpSampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [25]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority,replace=True,n_samples=len(df_majority),random_state=21)

In [27]:
df_minority_upsampled.shape

(900, 3)

In [28]:
df_minority_upsampled.head()

           f1        f2  target
973 -0.266939  2.391145       1
979  2.136707  1.561908       1
956  0.679122  0.527764       1
904  1.355758  2.467810       1
948  4.799524  3.592020       1

In [29]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [30]:
df_upsampled

           f1        f2  target
0   -1.774224  0.285744       0
1   -1.201377  0.333279       0
2    1.096257  0.531807       0
3    0.861037 -0.354766       0
4   -1.520367 -1.120815       0
..        ...       ...     ...
963  1.682708  2.233658       1
926  0.678345  1.728363       1
984  1.492063  1.540450       1
908  1.075169  2.005906       1
947  2.042533  2.443515       1

[1800 rows x 3 columns]

In [33]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [38]:
## Down Sampling

df_majority_downsampled = resample(df_majority,replace=False,n_samples=len(df_minority),random_state=16)

In [39]:
df_majority_downsampled.shape

(100, 3)

In [43]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [44]:
df_downsampled

           f1        f2  target
900 -0.643425  2.571923       1
901  1.551009  1.782767       1
902  1.641093  2.054318       1
903  2.133194  2.155998       1
904  1.355758  2.467810       1
..        ...       ...     ...
351  0.003833  0.417018       0
396  0.228371  1.062408       0
34  -0.204814 -0.179442       0
57   0.120616  0.374488       0
435 -0.503997  0.186730       0

[200 rows x 3 columns]